{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Расписание{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'timetable/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'timetable/css/components/nav.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body>
{% include "timetable/_nav.html" %}
  <main>
    {% if messages %}
      <ul class="messages">
        {% for m in messages %}
          <li class="{{ m.tags }}">{{ m }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% block content %}{% endblock %}
  </main>
</body>
</html>